* {
  		margin: 0;
  		padding: 0;
  		}

body {
    background-color: #333;
		  margin: 0; 
	   	min-height: 100vh; 
		  display: flex; 
		  justify-content: center; 
		  align-items: center;
  			}
  			
.board {
  			display: flex;
  			background: #61340C;
  			box-shadow: 0 0 30px;
  			padding: 70px 12px 30px 12px;
  			border-radius: 0 0 15px 15px;
  			}
  			
.white {
  		width: 110px;
  		height: 400px;
  		background-color: whitesmoke;
  		border: 1px solid #222;
  		border-radius: 0 0 10px 10px;
  		outline: 0;
  		}
  		
.black {	
  		margin-left: -39px;
  		margin-right: -39px;
  		width: 78px;
  		height: 260px;
  		background-color: #000;
  		border: none;
  		border-radius: 0 0 10px 10px;
  		outline: 0;
  		z-index: 2;
  		}
  		
.white:active {
  			box-shadow: inset -2px -2px 8px rgba(0,0,0,0.5), inset 2px 2px 4px rgba(0,0,0,0.2), inset 2px 2px 4px rgba(0,0,0,0.1);
  			border: 0;
  			background-color: rgba();
  			}
  			
.black:active {
  		 	box-shadow: -1px 0 4px rgba(0,0,0,0.5), 0 0 4px rgba(255,255,255,0.5), 1px 1px 2px rgba(100,100,100,1);
  		 	background-color: rgba();
  			}
  			
@media all and (max-width: 720px) {
  	body {
    background-color: #333;
    margin: 0;  
		  display: flex; 
		  justify-content: center; 
		  align-items: center;
  			}
  			
  	.board {
  			display: flex;
     box-shadow: 0 0 10px;
  			padding: 25px 4px 10px 4px;
  			border-radius: 0 0 10px 10px;
  			}
  			
  	.white {
  		width: 40px;
  		height: 150px;
  		background-color: whitesmoke;
  		border: 0.5px solid #222;
  		border-radius: 0 0 5px 5px;
  		outline: 0;
  			}
  			
  	.black {	
  		margin-left: -15px;
  		margin-right: -15px;
  		width: 30px;
  		height: 100px;
  		background-color: #000;
  		border: none;
  		border-radius: 0 0 5px 5px;
  		outline: 0;
  		z-index: 2;
  		}
  }
